{% extends 'base.html.twig' %}

{% block title %}Euros collection{% endblock %}

{% block body %}
    <h1>Euros collection</h1>

    <table class="table">
        
        <tbody>
        {% for euro in euros %}
            <tr>
                
                
                <td>{{ euro.id}}</td>
                <td>{{ euro.name}}</td>
                
                <td>{{ euro.val}}</td>
                
                
                
                
                
                <td>
                    
                    <a href="{{ path('app_euros_edit', {'id': euro.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_euros_new') }}">Create new</a>
{% endblock %}
