{% extends 'base.html.twig' %}

{% block title %}Euros{% endblock %}

{% block body %}
    <h1>Euros</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ euro.id }}</td>
            </tr>
            <tr>
                <th>Compte</th>
                <td>{{ euro.compte }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ euro.date }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ euro.libelle }}</td>
            </tr>
            <tr>
                <th>Credit</th>
                <td>{{ euro.credit }}</td>
            </tr>
            <tr>
                <th>Debit</th>
                <td>{{ euro.debit }}</td>
            </tr>
            <tr>
                <th>Banque</th>
                <td>{{ euro.banque }}</td>
            </tr>
            <tr>
                <th>Cheque</th>
                <td>{{ euro.cheque }}</td>
            </tr>
            <tr>
                <th>Budget</th>
                <td>{{ euro.budget }}</td>
            </tr>
            <tr>
                <th>Cbid</th>
                <td>{{ euro.cbid }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_euros_index') }}">back to list</a>

    <a href="{{ path('app_euros_edit', {'id': euro.id}) }}">edit</a>

    {{ include('euros/_delete_form.html.twig') }}
{% endblock %}
